@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-UxUmFvlQmC6Y: 16px;
  --plasmic-token-h-2: var(--token-UxUmFvlQmC6Y);
  --token-fyBLJkZStV5D: #2a2b37;
  --plasmic-token-neutral-900: var(--token-fyBLJkZStV5D);
  --token-qjMUm5MVNz1w: #383848;
  --plasmic-token-neutral-800: var(--token-qjMUm5MVNz1w);
  --token-v0DtNDdmMYpB: #48485c;
  --plasmic-token-neutral-700: var(--token-v0DtNDdmMYpB);
  --token-DGetvpU96H5Z: #5c5d76;
  --plasmic-token-neutral-600: var(--token-DGetvpU96H5Z);
  --token-bgK-W_WZX2OE: #656682;
  --plasmic-token-neutral-500: var(--token-bgK-W_WZX2OE);
  --token-mJgpI3waROq5: #84859b;
  --plasmic-token-neutral-400: var(--token-mJgpI3waROq5);
  --token-wgyDNaCRijIW: #9898ab;
  --plasmic-token-neutral-300: var(--token-wgyDNaCRijIW);
  --token-gVXPGoXpvq7s: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-gVXPGoXpvq7s);
  --token-luMWAD5WC2_p: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-luMWAD5WC2_p);
  --token-kjqWITQFg6YL: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-kjqWITQFg6YL);
  --token-0uk_LKsGRkId: 14px;
  --plasmic-token-body-small: var(--token-0uk_LKsGRkId);
  --token-eQ6YIIb-kc2-: 20px;
  --plasmic-token-body-small-2: var(--token-eQ6YIIb-kc2-);
  --token-EFkHJz1OzVf0: #01471e;
  --plasmic-token-success-text: var(--token-EFkHJz1OzVf0);
  --token-FfXKxAS0aOYB: #dffbea;
  --plasmic-token-success-bg: var(--token-FfXKxAS0aOYB);
  --token-1Oj2PHxwbaOh: #aff5cb;
  --plasmic-token-success-200: var(--token-1Oj2PHxwbaOh);
  --token-LrBEqaPE6UdB: #87efb1;
  --plasmic-token-success-300: var(--token-LrBEqaPE6UdB);
  --token-pxjSMuC-XARu: #5fea97;
  --plasmic-token-success-400: var(--token-pxjSMuC-XARu);
  --token-KeKJT3gGs2uJ: #37e57d;
  --plasmic-token-success-500: var(--token-KeKJT3gGs2uJ);
  --token-eN8YGjGQ2Dl1: #24bf63;
  --plasmic-token-success-600: var(--token-eN8YGjGQ2Dl1);
  --token-u4VesB9E_Jvb: #159649;
  --plasmic-token-success-700: var(--token-u4VesB9E_Jvb);
  --token-M7GWRY9L4t-5: #096e32;
  --plasmic-token-success-800: var(--token-M7GWRY9L4t-5);
  --token-rh9IbWI6_Cm6: #d7faf8;
  --plasmic-token-secondary-100: var(--token-rh9IbWI6_Cm6);
  --token-HXun4uyLVXzw: #aff5f0;
  --plasmic-token-secondary-200: var(--token-HXun4uyLVXzw);
  --token-DJ2KNs8PIhrc: #87efe8;
  --plasmic-token-secondary-300: var(--token-DJ2KNs8PIhrc);
  --token--I5e12hZ2c2u: #5feae1;
  --plasmic-token-secondary-400: var(--token--I5e12hZ2c2u);
  --token-ylKvNPLFIvZU: #37e5db;
  --plasmic-token-secondary-500: var(--token-ylKvNPLFIvZU);
  --token-E9J42nyOOkXI: #24bfb5;
  --plasmic-token-secondary-600: var(--token-E9J42nyOOkXI);
  --token-KoFX6wn4LwyL: #15968e;
  --plasmic-token-secondary-700: var(--token-KoFX6wn4LwyL);
  --token-i_4HCdS4W8Tw: #096e67;
  --plasmic-token-secondary-800: var(--token-i_4HCdS4W8Tw);
  --token-aP37XSDDJxJ2: #014743;
  --plasmic-token-secondary-900: var(--token-aP37XSDDJxJ2);
  --token-ZGJ3ZMKUna_v: #d8d8fa;
  --plasmic-token-primary-100: var(--token-ZGJ3ZMKUna_v);
  --token-Xljh2oDhIpZs: #b0b1f4;
  --plasmic-token-primary-200: var(--token-Xljh2oDhIpZs);
  --token-T2RzD0agzlep: #898bef;
  --plasmic-token-primary-300: var(--token-T2RzD0agzlep);
  --token-Q3hm3yboK6G4: #6164e9;
  --plasmic-token-primary-400: var(--token-Q3hm3yboK6G4);
  --token-rE7Nqfg9LMPq: #3a3de4;
  --plasmic-token-primary-500: var(--token-rE7Nqfg9LMPq);
  --token-B0A1iAzg6oUN: #2225bf;
  --plasmic-token-primary-600: var(--token-B0A1iAzg6oUN);
  --token-FiiVRGvChg3I: #141696;
  --plasmic-token-primary-700: var(--token-FiiVRGvChg3I);
  --token-_aX5mrme6rhj: #08096e;
  --plasmic-token-primary-800: var(--token-_aX5mrme6rhj);
  --token-ETrtFVDNykAV: #010347;
  --plasmic-token-primary-900: var(--token-ETrtFVDNykAV);
  --token-m7TdOAunHGee: #f2f3fd;
  --plasmic-token-primary-050: var(--token-m7TdOAunHGee);
  --token-IJ4KPzhkwT3X: #faf6d7;
  --plasmic-token-warning-100: var(--token-IJ4KPzhkwT3X);
  --token-48sNAYZsNWYL: #f5eeaf;
  --plasmic-token-warning-200: var(--token-48sNAYZsNWYL);
  --token-hGQNPaZsLz-q: #efe587;
  --plasmic-token-warning-300: var(--token-hGQNPaZsLz-q);
  --token-zbXoIjKi4bGD: #eadd5f;
  --plasmic-token-warning-400: var(--token-zbXoIjKi4bGD);
  --token-f32l6KT11YDI: #e5d437;
  --plasmic-token-warning-500: var(--token-f32l6KT11YDI);
  --token-WlGoQlzt38yL: #bfb024;
  --plasmic-token-warning-600: var(--token-WlGoQlzt38yL);
  --token-FDORoT9VzuHh: #998c15;
  --plasmic-token-warning-700: var(--token-FDORoT9VzuHh);
  --token-x8tf8UJTEjNo: #6e6408;
  --plasmic-token-warning-800: var(--token-x8tf8UJTEjNo);
  --token-c3GMZBETv5HZ: #383302;
  --plasmic-token-warning-900: var(--token-c3GMZBETv5HZ);
  --token-_wCmMdA8yNui: #fad7d7;
  --plasmic-token-danger-100: var(--token-_wCmMdA8yNui);
  --token-dDDNWvHc6T2p: #f18787;
  --plasmic-token-danger-300: var(--token-dDDNWvHc6T2p);
  --token-tHrsTi8ZZiHT: #f6afaf;
  --plasmic-token-danger-200: var(--token-tHrsTi8ZZiHT);
  --token-NqRwV-ULrlGg: #ed6060;
  --plasmic-token-danger-400: var(--token-NqRwV-ULrlGg);
  --token-5sY-3Hvkc1EP: #e83838;
  --plasmic-token-danger-500: var(--token-5sY-3Hvkc1EP);
  --token-YgVvR94G_5ES: #c22525;
  --plasmic-token-danger-600: var(--token-YgVvR94G_5ES);
  --token-ae2jS5Ll3ZlF: #9c1616;
  --plasmic-token-danger-700: var(--token-ae2jS5Ll3ZlF);
  --token-LxmsBJHmSg1G: #6b0707;
  --plasmic-token-danger-800: var(--token-LxmsBJHmSg1G);
  --token--nMa-kcTi0Hw: #360202;
  --plasmic-token-danger-900: var(--token--nMa-kcTi0Hw);
  --token-PflLC720juaY: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-PflLC720juaY);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-qfMCTKoIzTHd_font-family: "Inter", sans-serif;
  --mixin-qfMCTKoIzTHd_font-size: 14px;
  --mixin-qfMCTKoIzTHd_font-weight: 400;
  --mixin-qfMCTKoIzTHd_font-style: normal;
  --mixin-qfMCTKoIzTHd_color: var(--token-wgyDNaCRijIW);
  --mixin-qfMCTKoIzTHd_text-align: left;
  --mixin-qfMCTKoIzTHd_text-transform: none;
  --mixin-qfMCTKoIzTHd_line-height: 21px;
  --mixin-qfMCTKoIzTHd_letter-spacing: -0.6%;
  --mixin-qfMCTKoIzTHd_white-space: pre-wrap;
  --mixin-qfMCTKoIzTHd_user-select: text;
  --mixin-qfMCTKoIzTHd_text-decoration-line: none;
  --mixin-qfMCTKoIzTHd_text-overflow: clip;
  --mixin-4jYmsPwscJ5A_color: var(--token-fyBLJkZStV5D);
  --mixin-4jYmsPwscJ5A_font-weight: 600;
  --mixin-4jYmsPwscJ5A_font-size: 26px;
  --mixin-4jYmsPwscJ5A_line-height: 32px;
  --mixin-4jYmsPwscJ5A_letter-spacing: -1%;
  --mixin-4jYmsPwscJ5A_white-space: pre-wrap;
  --mixin-Ua-N-dXuQvV9_color: var(--token-fyBLJkZStV5D);
  --mixin-Ua-N-dXuQvV9_font-size: 23px;
  --mixin-Ua-N-dXuQvV9_font-weight: 700;
  --mixin-Ua-N-dXuQvV9_line-height: 28px;
  --mixin-Ua-N-dXuQvV9_font-family: "Inter", sans-serif;
  --mixin-Ua-N-dXuQvV9_letter-spacing: -1%;
  --mixin-Ua-N-dXuQvV9_white-space: pre-wrap;
  --mixin-4dqaGC1ItWHZ_color: #0070f3;
  --mixin-4dqaGC1ItWHZ_white-space: pre-wrap;
  --mixin-ifCzLkZqd-Vu_color: var(--token-fyBLJkZStV5D);
  --mixin-ifCzLkZqd-Vu_font-size: 20px;
  --mixin-ifCzLkZqd-Vu_font-weight: 700;
  --mixin-ifCzLkZqd-Vu_line-height: 24px;
  --mixin-ifCzLkZqd-Vu_letter-spacing: -1%;
  --mixin-ifCzLkZqd-Vu_font-family: "Inter", sans-serif;
  --mixin-ifCzLkZqd-Vu_white-space: pre-wrap;
  --mixin-qEiCCmA6NoS3_color: var(--token-fyBLJkZStV5D);
  --mixin-qEiCCmA6NoS3_font-size: 18px;
  --mixin-qEiCCmA6NoS3_font-weight: 700;
  --mixin-qEiCCmA6NoS3_line-height: 24px;
  --mixin-qEiCCmA6NoS3_letter-spacing: -1%;
  --mixin-qEiCCmA6NoS3_font-family: "Inter", sans-serif;
  --mixin-qEiCCmA6NoS3_white-space: pre-wrap;
  --mixin-mLYhtnUqZeR7_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-mLYhtnUqZeR7_border-bottom-color: #dddddd;
  --mixin-mLYhtnUqZeR7_border-bottom-style: solid;
  --mixin-mLYhtnUqZeR7_border-bottom-width: 1px;
  --mixin-mLYhtnUqZeR7_border-left-color: #dddddd;
  --mixin-mLYhtnUqZeR7_border-left-style: solid;
  --mixin-mLYhtnUqZeR7_border-left-width: 1px;
  --mixin-mLYhtnUqZeR7_border-right-color: #dddddd;
  --mixin-mLYhtnUqZeR7_border-right-style: solid;
  --mixin-mLYhtnUqZeR7_border-right-width: 1px;
  --mixin-mLYhtnUqZeR7_border-top-color: #dddddd;
  --mixin-mLYhtnUqZeR7_border-top-style: solid;
  --mixin-mLYhtnUqZeR7_border-top-width: 1px;
  --mixin-mLYhtnUqZeR7_border-bottom-left-radius: 3px;
  --mixin-mLYhtnUqZeR7_border-bottom-right-radius: 3px;
  --mixin-mLYhtnUqZeR7_border-top-left-radius: 3px;
  --mixin-mLYhtnUqZeR7_border-top-right-radius: 3px;
  --mixin-mLYhtnUqZeR7_font-family: "Inconsolata";
  --mixin-mLYhtnUqZeR7_padding-bottom: 1px;
  --mixin-mLYhtnUqZeR7_padding-left: 4px;
  --mixin-mLYhtnUqZeR7_padding-right: 4px;
  --mixin-mLYhtnUqZeR7_padding-top: 1px;
  --mixin-mLYhtnUqZeR7_white-space: pre-wrap;
  --mixin-s310gltbjCCn_border-left-color: #dddddd;
  --mixin-s310gltbjCCn_border-left-style: solid;
  --mixin-s310gltbjCCn_border-left-width: 3px;
  --mixin-s310gltbjCCn_color: #888888;
  --mixin-s310gltbjCCn_padding-left: 10px;
  --mixin-s310gltbjCCn_white-space: pre-wrap;
  --mixin-07ff2zXVKDjr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-07ff2zXVKDjr_border-bottom-color: #dddddd;
  --mixin-07ff2zXVKDjr_border-bottom-style: solid;
  --mixin-07ff2zXVKDjr_border-bottom-width: 1px;
  --mixin-07ff2zXVKDjr_border-left-color: #dddddd;
  --mixin-07ff2zXVKDjr_border-left-style: solid;
  --mixin-07ff2zXVKDjr_border-left-width: 1px;
  --mixin-07ff2zXVKDjr_border-right-color: #dddddd;
  --mixin-07ff2zXVKDjr_border-right-style: solid;
  --mixin-07ff2zXVKDjr_border-right-width: 1px;
  --mixin-07ff2zXVKDjr_border-top-color: #dddddd;
  --mixin-07ff2zXVKDjr_border-top-style: solid;
  --mixin-07ff2zXVKDjr_border-top-width: 1px;
  --mixin-07ff2zXVKDjr_border-bottom-left-radius: 3px;
  --mixin-07ff2zXVKDjr_border-bottom-right-radius: 3px;
  --mixin-07ff2zXVKDjr_border-top-left-radius: 3px;
  --mixin-07ff2zXVKDjr_border-top-right-radius: 3px;
  --mixin-07ff2zXVKDjr_font-family: "Inconsolata";
  --mixin-07ff2zXVKDjr_padding-bottom: 3px;
  --mixin-07ff2zXVKDjr_padding-left: 6px;
  --mixin-07ff2zXVKDjr_padding-right: 6px;
  --mixin-07ff2zXVKDjr_padding-top: 3px;
  --mixin-07ff2zXVKDjr_white-space: pre-wrap;
  --mixin-KXMeY8zYxx_U_display: flex;
  --mixin-KXMeY8zYxx_U_flex-direction: column;
  --mixin-KXMeY8zYxx_U_align-items: stretch;
  --mixin-KXMeY8zYxx_U_justify-content: flex-start;
  --mixin-KXMeY8zYxx_U_list-style-position: outside;
  --mixin-KXMeY8zYxx_U_padding-left: 40px;
  --mixin-KXMeY8zYxx_U_position: relative;
  --mixin-KXMeY8zYxx_U_list-style-type: disc;
  --mixin-KXMeY8zYxx_U_white-space: pre-wrap;
  --mixin--_DmKRlYyr1c_display: flex;
  --mixin--_DmKRlYyr1c_flex-direction: column;
  --mixin--_DmKRlYyr1c_align-items: stretch;
  --mixin--_DmKRlYyr1c_justify-content: flex-start;
  --mixin--_DmKRlYyr1c_list-style-position: outside;
  --mixin--_DmKRlYyr1c_padding-left: 40px;
  --mixin--_DmKRlYyr1c_position: relative;
  --mixin--_DmKRlYyr1c_list-style-type: decimal;
  --mixin--_DmKRlYyr1c_white-space: pre-wrap;
  --mixin-4kgG0e8Qdx7E_color: var(--token-qjMUm5MVNz1w);
  --mixin-4kgG0e8Qdx7E_font-size: 16px;
  --mixin-4kgG0e8Qdx7E_font-weight: 600;
  --mixin-4kgG0e8Qdx7E_line-height: 20px;
  --mixin-4kgG0e8Qdx7E_letter-spacing: -1%;
  --mixin-4kgG0e8Qdx7E_font-family: "Inter", sans-serif;
  --mixin-4kgG0e8Qdx7E_white-space: pre-wrap;
  --mixin-ebE1qXqfhdRp_color: var(--token-fyBLJkZStV5D);
  --mixin-ebE1qXqfhdRp_font-size: 14px;
  --mixin-ebE1qXqfhdRp_font-weight: 600;
  --mixin-ebE1qXqfhdRp_line-height: 20px;
  --mixin-ebE1qXqfhdRp_letter-spacing: 1%;
  --mixin-ebE1qXqfhdRp_font-family: "Inter", sans-serif;
  --mixin-ebE1qXqfhdRp_white-space: pre-wrap;
  --mixin-sSWcdLAAhmh8_color: #3291ff;
  --mixin-sSWcdLAAhmh8_white-space: pre-wrap;
  --mixin-8kEjhWWjvD_0_white-space: pre-wrap;
  --mixin-CHtyZf_Dxxpp_color: var(--token-v0DtNDdmMYpB);
  --mixin-CHtyZf_Dxxpp_font-family: "Inter", sans-serif;
  --mixin-CHtyZf_Dxxpp_font-weight: 500;
  --mixin-CHtyZf_Dxxpp_font-size: 16px;
  --mixin-CHtyZf_Dxxpp_line-height: 24px;
  --mixin-CHtyZf_Dxxpp_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-a7yMo2RbFKRM_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-a7yMo2RbFKRM_white-space);
  --mixin-9qqDd5td8CNd_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-9qqDd5td8CNd_white-space);
  --mixin-Mx7-Kjn8bBaH_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-Mx7-Kjn8bBaH_box-shadow);
  --mixin-Mx7-Kjn8bBaH_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-Mx7-Kjn8bBaH_white-space
  );
  --mixin-QtTWNJvtZpDC_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-QtTWNJvtZpDC_white-space);
  --mixin-HHaanSsY2l7Y_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-HHaanSsY2l7Y_white-space);
  --mixin--1FeleehPAWm_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin--1FeleehPAWm_box-shadow
  );
  --mixin--1FeleehPAWm_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin--1FeleehPAWm_white-space
  );
  --mixin-qqqbaEHeH1nc_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-qqqbaEHeH1nc_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-qfMCTKoIzTHd_font-family);
  font-size: var(--mixin-qfMCTKoIzTHd_font-size);
  font-weight: var(--mixin-qfMCTKoIzTHd_font-weight);
  font-style: var(--mixin-qfMCTKoIzTHd_font-style);
  color: var(--mixin-qfMCTKoIzTHd_color);
  text-align: var(--mixin-qfMCTKoIzTHd_text-align);
  text-transform: var(--mixin-qfMCTKoIzTHd_text-transform);
  line-height: var(--mixin-qfMCTKoIzTHd_line-height);
  letter-spacing: var(--mixin-qfMCTKoIzTHd_letter-spacing);
  white-space: var(--mixin-qfMCTKoIzTHd_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-4jYmsPwscJ5A_color);
  font-weight: var(--mixin-4jYmsPwscJ5A_font-weight);
  font-size: var(--mixin-4jYmsPwscJ5A_font-size);
  line-height: var(--mixin-4jYmsPwscJ5A_line-height);
  letter-spacing: var(--mixin-4jYmsPwscJ5A_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-Ua-N-dXuQvV9_color);
  font-size: var(--mixin-Ua-N-dXuQvV9_font-size);
  font-weight: var(--mixin-Ua-N-dXuQvV9_font-weight);
  line-height: var(--mixin-Ua-N-dXuQvV9_line-height);
  font-family: var(--mixin-Ua-N-dXuQvV9_font-family);
  letter-spacing: var(--mixin-Ua-N-dXuQvV9_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-4dqaGC1ItWHZ_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-ifCzLkZqd-Vu_color);
  font-size: var(--mixin-ifCzLkZqd-Vu_font-size);
  font-weight: var(--mixin-ifCzLkZqd-Vu_font-weight);
  line-height: var(--mixin-ifCzLkZqd-Vu_line-height);
  letter-spacing: var(--mixin-ifCzLkZqd-Vu_letter-spacing);
  font-family: var(--mixin-ifCzLkZqd-Vu_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-qEiCCmA6NoS3_color);
  font-size: var(--mixin-qEiCCmA6NoS3_font-size);
  font-weight: var(--mixin-qEiCCmA6NoS3_font-weight);
  line-height: var(--mixin-qEiCCmA6NoS3_line-height);
  letter-spacing: var(--mixin-qEiCCmA6NoS3_letter-spacing);
  font-family: var(--mixin-qEiCCmA6NoS3_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-mLYhtnUqZeR7_font-family);
  border-radius: var(--mixin-mLYhtnUqZeR7_border-top-left-radius)
    var(--mixin-mLYhtnUqZeR7_border-top-right-radius)
    var(--mixin-mLYhtnUqZeR7_border-bottom-right-radius)
    var(--mixin-mLYhtnUqZeR7_border-bottom-left-radius);
  padding: var(--mixin-mLYhtnUqZeR7_padding-top)
    var(--mixin-mLYhtnUqZeR7_padding-right)
    var(--mixin-mLYhtnUqZeR7_padding-bottom)
    var(--mixin-mLYhtnUqZeR7_padding-left);
  border-top: var(--mixin-mLYhtnUqZeR7_border-top-width)
    var(--mixin-mLYhtnUqZeR7_border-top-style)
    var(--mixin-mLYhtnUqZeR7_border-top-color);
  border-right: var(--mixin-mLYhtnUqZeR7_border-right-width)
    var(--mixin-mLYhtnUqZeR7_border-right-style)
    var(--mixin-mLYhtnUqZeR7_border-right-color);
  border-bottom: var(--mixin-mLYhtnUqZeR7_border-bottom-width)
    var(--mixin-mLYhtnUqZeR7_border-bottom-style)
    var(--mixin-mLYhtnUqZeR7_border-bottom-color);
  border-left: var(--mixin-mLYhtnUqZeR7_border-left-width)
    var(--mixin-mLYhtnUqZeR7_border-left-style)
    var(--mixin-mLYhtnUqZeR7_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-s310gltbjCCn_color);
  padding-left: var(--mixin-s310gltbjCCn_padding-left);
  border-left: var(--mixin-s310gltbjCCn_border-left-width)
    var(--mixin-s310gltbjCCn_border-left-style)
    var(--mixin-s310gltbjCCn_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-07ff2zXVKDjr_font-family);
  border-radius: var(--mixin-07ff2zXVKDjr_border-top-left-radius)
    var(--mixin-07ff2zXVKDjr_border-top-right-radius)
    var(--mixin-07ff2zXVKDjr_border-bottom-right-radius)
    var(--mixin-07ff2zXVKDjr_border-bottom-left-radius);
  padding: var(--mixin-07ff2zXVKDjr_padding-top)
    var(--mixin-07ff2zXVKDjr_padding-right)
    var(--mixin-07ff2zXVKDjr_padding-bottom)
    var(--mixin-07ff2zXVKDjr_padding-left);
  border-top: var(--mixin-07ff2zXVKDjr_border-top-width)
    var(--mixin-07ff2zXVKDjr_border-top-style)
    var(--mixin-07ff2zXVKDjr_border-top-color);
  border-right: var(--mixin-07ff2zXVKDjr_border-right-width)
    var(--mixin-07ff2zXVKDjr_border-right-style)
    var(--mixin-07ff2zXVKDjr_border-right-color);
  border-bottom: var(--mixin-07ff2zXVKDjr_border-bottom-width)
    var(--mixin-07ff2zXVKDjr_border-bottom-style)
    var(--mixin-07ff2zXVKDjr_border-bottom-color);
  border-left: var(--mixin-07ff2zXVKDjr_border-left-width)
    var(--mixin-07ff2zXVKDjr_border-left-style)
    var(--mixin-07ff2zXVKDjr_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-KXMeY8zYxx_U_display);
  flex-direction: var(--mixin-KXMeY8zYxx_U_flex-direction);
  align-items: var(--mixin-KXMeY8zYxx_U_align-items);
  justify-content: var(--mixin-KXMeY8zYxx_U_justify-content);
  list-style-position: var(--mixin-KXMeY8zYxx_U_list-style-position);
  padding-left: var(--mixin-KXMeY8zYxx_U_padding-left);
  position: var(--mixin-KXMeY8zYxx_U_position);
  list-style-type: var(--mixin-KXMeY8zYxx_U_list-style-type);
  flex-column-gap: var(--mixin-KXMeY8zYxx_U_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin--_DmKRlYyr1c_display);
  flex-direction: var(--mixin--_DmKRlYyr1c_flex-direction);
  align-items: var(--mixin--_DmKRlYyr1c_align-items);
  justify-content: var(--mixin--_DmKRlYyr1c_justify-content);
  list-style-position: var(--mixin--_DmKRlYyr1c_list-style-position);
  padding-left: var(--mixin--_DmKRlYyr1c_padding-left);
  position: var(--mixin--_DmKRlYyr1c_position);
  list-style-type: var(--mixin--_DmKRlYyr1c_list-style-type);
  flex-column-gap: var(--mixin--_DmKRlYyr1c_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-4kgG0e8Qdx7E_color);
  font-size: var(--mixin-4kgG0e8Qdx7E_font-size);
  font-weight: var(--mixin-4kgG0e8Qdx7E_font-weight);
  line-height: var(--mixin-4kgG0e8Qdx7E_line-height);
  letter-spacing: var(--mixin-4kgG0e8Qdx7E_letter-spacing);
  font-family: var(--mixin-4kgG0e8Qdx7E_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-ebE1qXqfhdRp_color);
  font-size: var(--mixin-ebE1qXqfhdRp_font-size);
  font-weight: var(--mixin-ebE1qXqfhdRp_font-weight);
  line-height: var(--mixin-ebE1qXqfhdRp_line-height);
  letter-spacing: var(--mixin-ebE1qXqfhdRp_letter-spacing);
  font-family: var(--mixin-ebE1qXqfhdRp_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-sSWcdLAAhmh8_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-CHtyZf_Dxxpp_color);
  font-family: var(--mixin-CHtyZf_Dxxpp_font-family);
  font-weight: var(--mixin-CHtyZf_Dxxpp_font-weight);
  font-size: var(--mixin-CHtyZf_Dxxpp_font-size);
  line-height: var(--mixin-CHtyZf_Dxxpp_line-height);
}
